@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');



.container{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
    
}
input, button{
    height: 65px;
    font-size: 1.2rem;
    padding: 0 20px;
    border-radius: 5px;
}
body{
    background-color: #181818;
}
input{
    background-color: #2c2c2c;
    border: 0px;
    margin-bottom: 2px;
}
button{
    border-radius: 1px solid #4d4d4d;
    background-color: #181818;
    color: #AAA;
    margin: 20px 0px;
}
a{
    font-family: "Roboto";
    color: white;
    margin: 20px auto;
    color: #AAA;
}
